TZ=UTC
PUID=1000
PGID=1000
DATA_PATH=./data

CADDY_VERSION=2.10.2
CADDYMANAGER_UI_PORT=9890
CADDYMANAGER_HTTP_PORT=8090
CADDYMANAGER_HTTPS_PORT=8445

ADMIN_EMAIL=admin@caddymanager.local
ADMIN_PASSWORD=changeme123
JWT_SECRET=CHANGE_ME_WITH_OPENSSL_RAND_BASE64_32
JWT_EXPIRES_IN=24h

CF_API_TOKEN=
LOG_LEVEL=info
ENABLE_DOCKER_DISCOVERY=false
AUTO_REMOVE_STOPPED=false
