TZ=UTC
PUID=1000
PGID=1000
DATA_PATH=./data
CADDY_UI_PORT=9877
CADDY_ADMIN_URL=http://caddy-server:2019
CADDY_SERVER_NAME=srv0
CADDY_UI_USER=admin
CADDY_UI_PASSWORD=CHANGE_ME
JWT_SECRET=CHANGE_ME_TO_RANDOM_SECRET
CADDY_HOST_DATA_PATH=/opt/caddy-server/data
