TZ=UTC
PUID=1000
PGID=1000
MEDIA_PATH=./media
TUBEARCHIVIST_PORT_1=8000
TA_HOST=localhost
TA_USERNAME=admin
TA_PASSWORD=CHANGE_ME
ES_URL=http://elasticsearch:9200
REDIS_CON=redis://redis:6379
DATA_PATH=./data
