TZ=UTC
PUID=1000
PGID=1000
DATA_PATH=./data
AUTHENTIK_PORT_1=9000
AUTHENTIK_PORT_2=9443
AUTHENTIK_VERSION=2026.2.2
AUTHENTIK_HTTP_PORT=9000
AUTHENTIK_HTTPS_PORT=9443
AUTHENTIK_SECRET_KEY=CHANGE_ME
AUTHENTIK_DB_PASSWORD=CHANGE_ME
